<div>
  <app-header [ComponentName]="'CREATE EVENT'"></app-header>
  <section class="progress">
    <ul>
      <li>
        <img src="assets/svg/1-gray.svg" alt="Descrição da imagem" /><span>basic information</span>
      </li>
      <li>
        <img src="assets/svg/2-gray.svg" alt="Descrição da imagem" /><span>event address</span>
      </li>
      <li>
        <img src="assets/svg/3-green.svg" alt="Descrição da imagem" /><span>payment</span>
      </li>
    </ul>
  </section>
  <div class="container">
    <section class="content">
      <div class="header-content">
        <div>
          <span class="event-title">CREATE EVENT</span>
          <span class="event-description">
            Enter the pix key here if you want other members to make payments,
            otherwise you can now complete your event.<br />
            Note: This information can be changed if you wish.
          </span>
        </div>
        <div>
          <button routerLink="/" class="btn-next">
            Skip payment and conclude
          </button>
        </div>
      </div>

      <div class="body-content">
        <img src="assets/svg/pix.svg" alt="Pix image" />
        <div class="form-group">
          <label for="payment">Pix Key:</label>
          <input type="text" id="payment" placeholder="Pix key" [(ngModel)]="pixKey" name="pixKey" />
        </div>
      </div>

      <div class="footer-content">
        <button routerLink="/create-event/address-info" class="btn-back">
          < Back </button>
            <button (click)="onSubmitEvent()" class="btn-next">
              Conclude
            </button>
      </div>
    </section>
  </div>
</div>