
.parent-container {
    height: 100vh; /* Ou outra altura adequada */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px; 
    flex-grow: 1; 
  }
  
  .map-frame {
    border: 2.5px solid black;
    border-radius: 12px;
    height: 40vh;
    width: 40vw;
  }
  
  #map {
    height: 100%;
    border-radius: 12px;
    }
  