<div>
  <app-header [ComponentName]="'CREATE EVENT'"></app-header>
  <section class="progress">
    <ul>
      <li>
        <img src="assets/svg/1-green.svg" alt="Descrição da imagem" /><span>basic information</span>
      </li>
      <li>
        <img src="assets/svg/2-gray.svg" alt="Descrição da imagem" /><span>event address</span>
      </li>
      <li>
        <img src="assets/svg/3-gray.svg" alt="Descrição da imagem" /><span>payment</span>
      </li>
    </ul>
  </section>

  <div class="container">
    <section class="content">
      <div class="header-content">
        <span class="event-title">CREATE EVENT</span>
        <span class="event-description">Enter the event image information, name, description, start date and finish
          date.</span>
      </div>

      <div class="body-content">
        <div class="image-section">
          <div class="image">
            <img [src]="eventImage" alt="Event image" />
          </div>
          <div class="image-buttons">
            <button class="btn-edit">
              <div class="form-item file-upload">
                <label for="file-upload" class="file-upload-label">
                  Adicionar
                </label>
                <input id="file-upload" type="file" class="file-upload-input" (change)="onFileSelected($event)" />
              </div>
            </button>


            <button class="btn-remove">Remove</button>
          </div>
        </div>
        <div class="name-description">
          <div class="form-group">
            <label for="event-name">Event Name</label>
            <input type="text" id="event-name" placeholder="Enter event name" class="input-name"
              [(ngModel)]="eventName" />
          </div>
          <div class="form-group">
            <label for="event-description">Event Description</label>
            <textarea id="event-description" placeholder="Enter event description" class="input-description"
              [(ngModel)]="eventDescription"></textarea>
          </div>

          <div class="form-group">
            <label for="start-date">Start Date</label>
            <input type="date" id="start-date" placeholder="Select start date" class="input-datetime"
              [(ngModel)]="startDate" />
          </div>
          <div class="form-group">
            <label for="finish-date">Finish Date</label>
            <input type="date" id="finish-date" placeholder="Select finish date" class="input-datetime"
              [(ngModel)]="finishDate" />
          </div>
        </div>
      </div>

      <div class="footer-content">
        <button routerLink="/" class="btn-back">
          < Back</button>
            <button routerLink="/create-event/address-info" (click)="onAddAddress()" class="btn-add-address">
              Add address
            </button>
      </div>
    </section>
  </div>
</div>