/* Ensure that the main container takes up at least the full viewport height */
.main-container {
  display: flex;
  flex-direction: row; /* Keep the main container as a row */
  min-height: 100vh; /* 100% of the viewport height */
}

/* Content container should fill the remaining height and allow the footer to be at the bottom */
.content-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* This allows the content to take up all the available space in the column */
}

/* Footer styling */
.footer {
  text-align: center;
  
  font-size: 0.9em;
  margin-top: auto; /* Pushes the footer to the bottom of the content container */
}
