.main-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  overflow: hidden;
}

.sidebar {
  flex: 0 0 250px;
  position: fixed;
  height: 100vh;
  overflow: visible;
}

// .content-container {
//   margin-left: 250px;
//   flex: 1;
//   display: flex;
//   flex-direction: column;
// }
.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.8s ease-in-out; /* Suaviza a transição */
}

content {
  flex: 1;
  overflow-y: auto;
}

.footer {
  text-align: center;
  font-size: 0.9em;
}
