<div class="container">
  <app-header [ComponentName]="'MY EVENTS'"></app-header>
  <div class="search-container">
    <div class="search">
      <input
        type="text"
        id="search"
        placeholder="Search"
        style="display: flex; align-self: center"
      />
      <button class="search-button">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <button
      routerLink="create-event/basic-info"
      class="create-button"
      style="background-color: #14ad47"
    >
      Create
    </button>
  </div>

  <div class="cards">
    <ul>
      <li *ngFor="let item of paginatedItems; let i = index">
        <app-card
          [title]="item.title"
          [description]="item.description"
          [startData]="item.startData"
          [endData]="item.endData"
          [image]="item.image"
          [status]="item.status"
        >
        </app-card>
      </li>
    </ul>
  </div>

  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">
      <i class="fas fa-arrow-left"></i>
      <span>Previous</span>
    </button>

    <ul class="pagination-numbers">
      <li
        *ngFor="let page of pageNumbers"
        (click)="goToPage(page)"
        [class.active]="currentPage === page"
      >
        {{ page }}
      </li>
    </ul>

    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      <span>Next</span>
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>
</div>
