.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.pagination-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 33rem;
  width: 100%;
}

.utilities {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  width: 100%;
}

.utilities__search {
  display: flex;
  margin-right: 3rem;

  input {
    width: 100%;
    padding: 0.65rem;
    border-radius: 0.3125rem;
    border: 1px solid #d1d1d1;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  button {
    cursor: pointer;
    border-radius: 0rem 0.3125rem 0.3125rem 0rem;
    background-color: #d9d9d9;
    border: none;
    outline: none;
    padding: 0.65rem 0.5rem;
  }
}

.utilities__create button {
  cursor: pointer;
  border-radius: 0.3125rem;
  background: #14ad47;
  padding: 0.6rem 0.3rem;

  color: #ffffff;
  font-size: 1rem;
  border: none;
  outline: none;
}

.cards-container {
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem 1.5rem;
  margin-left: 0px;
  justify-items: left;
}

.card {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pagination__arrow {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: unset;

  span {
    margin: 0.5rem;
  }
}

.pagination__number {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: unset;
  margin: 0 0.5rem;
}

.pagination_selected {
  width: 2rem;
  height: 2rem;
  border-radius: 0.625rem;
  background: #14ad47;
}
