<app-header [ComponentName]="'MY EVENTS'"
  textTooltip="This is your homepage where you can create events by clicking the button below, and view your events. To display more details, simply click on one of them."
  tooltipPosition="right"></app-header>
<div class="container">
  <div class="content">
    <div class="utilities">
      <!-- <div class="utilities__search">
        <input type="text" placeholder="Search" />
        <button><i class="fas fa-search"></i></button>
      </div> -->
      <div class="utilities__create">
        <app-button routerLink="create-event/basic-info" id="create-event-btn" [isDisabled]="isloading" text="CREATE"></app-button>
      </div>
    </div>

    @if (content.events === undefined || content.events.length === 0 || isloading) {
    <div style="width: 100%; height: 30rem;">
      <app-status-request [isLoading]="isloading" [isEmpty]="content.events.length == 0"></app-status-request>
    </div>
    }
    @else {
    <div class="pagination-content">
      <div class="cards-container">
        <ul class="cards">
          <li *ngFor="let event of content.events" class="card">
            <app-card [title]="event.title" [description]="event.information" [startData]="event.dateStart"
              [endData]="event.dateEnd" [status]="event.stage" [image]="event.profileImage" [url]="'/event/'+ event.id">
            </app-card>
          </li>
        </ul>
      </div>

      <div class="pagination">
        <button class="pagination__arrow" (click)="previousPage()"><i class="fas fa-arrow-left"></i>
          <span>Previous</span></button>
        @for (item of pages; track $index) {
        @if (item === currentPage) {
        <button class="pagination__number pagination_selected">{{ item }}</button>
        }@else {
        <button class="pagination__number" (click)="goToPage(item)">{{ item }}</button>
        }
        }
        <button class=" pagination__arrow" (click)="nextPage()"><span>Next</span> <i class="fas fa-arrow-right">
          </i></button>
      </div>
    </div>
    }
  </div>
</div>













<!-- <div class="cards">
    <ul>
      <li *ngFor="let event of content.events">
        <app-card [title]="event.title" [description]="event.information" [startData]="event.dateStart"
          [endData]="event.dateEnd" [status]="event.stage" [image]="event.profileImage"></app-card>
    </ul>
  </div> -->










<!-- <div class="cards">
    <ul>
      <li *ngFor="let event of content.events">
        <app-card [title]="event.title" [description]="event.information" [startData]="event.dateStart"
          [endData]="event.dateEnd" [status]="event.stage" [image]="event.profileImage"></app-card>
    </ul>
  </div> -->