<div>
  <app-header [ComponentName]="'EDIT EVENT'"></app-header>

  <section class="progress">
    <ul>
      <li>
        <img src="assets/svg/1-gray.svg" alt="Descrição da imagem" /><span>basic information</span>
      </li>
      <li>
        <img src="assets/svg/2-green.svg" alt="Descrição da imagem" /><span>event address</span>
      </li>
      <li>
        <img src="assets/svg/3-gray.svg" alt="Descrição da imagem" /><span>payment</span>
      </li>
    </ul>
  </section>

  <div class="container">
    <section class="content">
      <div class="header-content">
        <div>
          <span class="event-title">EDIT EVENT</span>
          <span class="event-description">Enter location information if the event already has a location
            defined.</span>
        </div>
        <div>
          <button routerLink="{{nextRoute}}" class="btn-next">
            Skip address
          </button>
        </div>
      </div>

      <div class="body-content">
        <div class="location-form">
          <form>
            <div class="form-group">
              <label for="place-name">Nome do Local</label>
              <input type="text" id="place-name" placeholder="Nome do local" [value]="eventData.local_name"
                (change)="onLocalNameChange($event)" />
            </div>

            <div class="form-row">
              <div class="form-group half-width">
                <label for="postal-code">CEP</label>
                <input type="text" id="postal-code" placeholder="CEP" [value]="eventData.cep_address"
                  (change)="onCepAddressChange($event)" />
              </div>
              <div class="form-group half-width">
                <label for="state">Estado</label>
                <input type="text" id="state" placeholder="Estado" [value]="eventData.state_address"
                  (change)="onStateAddressChange($event)" />
              </div>
            </div>

            <div class="form-group">
              <label for="city">Cidade</label>
              <input type="text" id="city" placeholder="Cidade" [value]="eventData.city_address"
                (change)="onCityAddressChange($event)" />
            </div>

            <div class="form-group">
              <label for="neighborhood">Bairro</label>
              <input type="text" id="neighborhood" placeholder="Bairro" [value]="eventData.neighborhood_address"
                (change)="onNeighborhoodAddressChange($event)" />
            </div>

            <div class="form-group">
              <label for="street">Rua/Avenida</label>
              <input type="text" id="street" placeholder="Rua/Avenida" [value]="eventData.street_address"
                (change)="onStreetAddressChange($event)" />
            </div>

            <div class="form-row">
              <div class="form-group half-width">
                <label for="number">Número</label>
                <input type="text" id="number" placeholder="Número" [value]="eventData.number_address"
                  (change)="onNumberAddressChange($event)" />
              </div>
              <div class="form-group half-width">
                <label for="complement">Complemento</label>
                <input type="text" id="complement" placeholder="Complemento" [value]="eventData.complement_address"
                  (change)="onComplementAddressChange($event)" />
              </div>
            </div>
          </form>

        </div>

        <div class="map">
          <app-map [dragable]="true" (coordinatesChange)="onCoordinatesChange($event)"></app-map>
        </div>
      </div>

      <div class="footer-content">
        <button routerLink="{{backRoute}}" class="btn-back">
          < Back</button>
            <button routerLink="{{nextRoute}}" class="btn-next" (click)="onAddPayment()">

              <!-- <button class="btn-next" (click)="onAddPayment()"> -->
              Add payment
            </button>
      </div>
    </section>
  </div>
</div>