<div class="section">
  <div class="title">
    <span class="small-txt">Facilidade Garantida</span>
    <span class="main-title">Planeje Eventos com Facilidade</span>
    <span class="subtitle">Simplifique o planejamento dos seus eventos com nossa tecnologia inovadora, garantindo
      eficiência e sucesso em cada detalhe.</span>
  </div>
  <div class="cards">
    <div class="card" style="background-image: url('../../../../assets/img/table.png');">
      <div class="card-title">Gerenciamento de Eventos Simplificado</div>
      <div class="card-content">Centralize e organize todos os detalhes do seu evento em uma única plataforma intuitiva
        e eficiente.</div>
    </div>
    <div class="card" style="background-image: url('../../../../assets/img/planing.jpg');">
      <div class="card-title">Planejamento Personalizado de Eventos</div>
      <div class="card-content">Adapte nossas ferramentas às suas necessidades específicas para criar eventos únicos e
        memoráveis.</div>
    </div>
    <div class="card" style="background-image: url('../../../../assets/img/social.jpg');">
      <div class="card-title">Integração com Redes Sociais</div>
      <div class="card-content">Conecte seus eventos às redes sociais para maximizar o alcance e engajamento do seu
        público.</div>
    </div>
  </div>
</div>