<div>
  <app-header [ComponentName]="'EDIT EVENT'"></app-header>
  <section class="progress">
    <ul>
      <li>
        <img src="assets/svg/1-green.svg" alt="Descrição da imagem" /><span>basic information</span>
      </li>
      <li>
        <img src="assets/svg/2-gray.svg" alt="Descrição da imagem" /><span>event address</span>
      </li>
      <li>
        <img src="assets/svg/3-gray.svg" alt="Descrição da imagem" /><span>payment</span>
      </li>
    </ul>
  </section>

  <div class="container">
    <section class="content">
      <div class="header-content">
        <span class="event-title">EDIT EVENT</span>
        <span class="event-description">Change the event image information, name, description, start date and finish
          date.</span>
      </div>

      <div class="body-content">
        <div class="image-section">
          <div class="image">
            <img [src]="eventImage" alt="Descrição da imagem" />
          </div>
          <div class="image-buttons">
            <input id="file-upload" type="file" class="file-upload-input" (change)="onFileSelected($event)"
              style="display: none;" />
            <label for="file-upload" class="btn-edit">Edit</label>
            <button class="btn-remove" (click)="onRemoveImage()">Remove</button>
          </div>
        </div>

        <div class="name-description">
          <div class="form-group">
            <label for="event-name">Event Name</label>
            <input type="text" id="event-name" placeholder="Enter event name" class="input-name"
              [(ngModel)]="eventData.eventname" />
          </div>
          <div class="form-group">
            <label for="event-description">Event Description</label>
            <textarea id="event-description" placeholder="Enter event description" class="input-description"
              [(ngModel)]="eventData.eventdescription"></textarea>
          </div>
          <div class="form-group">
            <label for="start-date">Start Date</label>
            <input type="date" id="start-date" placeholder="Select start date" class="input-datetime"
              [(ngModel)]="parsedEventStartData" />
          </div>
          <div class="form-group">
            <label for="finish-date">Finish Date</label>
            <input type="date" id="finish-date" placeholder="Select finish date" class="input-datetime"
              [(ngModel)]="parsedEventFinishData" />
          </div>


        </div>

      </div>

      <div class="footer-content">
        <button routerLink="{{backRoute}}" class="btn-back">
          < Back</button>
            <button routerLink="{{nextRoute}}" class="btn-add-address" (click)=" onAddAddress()">
              Add adress
            </button>
      </div>
    </section>
  </div>
</div>