@if (selected || isChild) {
<div class="button-wrapper button-selected">
  <div [ngClass]="{'button-background': selected}"></div>
  <div class="button-foreground" [ngClass]="{'centralize-icon': isCollapsed}">
    <a routerLink={{routerLink}} [ngClass]="{'centralize-icon': isCollapsed, 'selected': !isCollapsed}">
      <i class={{icon}} [ngClass]="{'child-menu': isChild}"></i>
      @if (!isCollapsed) {
      &nbsp;
      <span>{{text}}</span>
      }
    </a>
  </div>
</div>
}
@else {
<div class="button-wrapper">
  <div class="button-unselected" [ngClass]="{'centralize-icon': isCollapsed}">
    <a routerLink={{routerLink}} [ngClass]="{'centralize-icon': isCollapsed}">
      <i class={{icon}}></i>
      @if (!isCollapsed) {
      &nbsp;
      <span>{{text}}</span>
      }
    </a>
  </div>
</div>
}
