.main-container {
  display: flex;
  flex-direction: row;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.search {
  display: flex;
  height: 2.125rem;
  border-radius: 0.3125rem;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  width: 50%;
}

.search input[type="text"] {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.3125rem 0 0 0.3125rem;
}

.search input[type="text"]:focus {
  outline: none;
}

.search-button {
  width: 3.125rem;
  height: 100%;
  background-color: #d9d9d9;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 0 0.3125rem 0.3125rem 0;
}

.search-button i {
  font-size: 1.5rem; /* Ajuste o tamanho do ícone */
}

.search-button:focus {
  outline: none;
}

.add-friend-button {
  width: 10rem;
  height: 2.5rem;
  margin-left: auto;
  border-radius: 0.3125rem;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1rem;
  opacity: 1;
  gap: 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cards {
  padding: 2rem;
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pagination__arrow {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: unset;

  span {
    margin: 0.5rem;
  }
}

.pagination__number {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: unset;
  margin: 0 0.5rem;
}

.pagination_selected {
  width: 2rem;
  height: 2rem;
  border-radius: 0.625rem;
  background: #14ad47;
}

@media screen and (min-width: 1910px) {
  .cards-container {
    margin-top: 6rem;
  }
}
