<main class="main-container">
  <div class="content-container">
    <app-header [ComponentName]="'Friends'"
      textTooltip="This is your friends screen, where you can send friend requests and view your friends list."
      tooltipPosition="right"></app-header>
    <content>
      <div class="search-container">
        <div class="search">
          <input type="text" id="search" placeholder="Search for a friend" style="display: flex; align-self: center" />
          <button class="search-button">
            <i class="fas fa-search"></i>
          </button>
        </div>
        <button class="add-friend-button" style="background-color: #14ad47" (click)="toggleAddFriendDialog()">
          Add a new friend
        </button>
      </div>


      <app-dialog *ngIf="isAddFriendDialogOpen" (close)="toggleAddFriendDialog()" dialog_title="Add Friends">
        <div class="form-data">
          <app-primary-input type="text" placeholder="Insert your friend's email or nickname"
            [(ngModel)]="friendEmail" />
        </div>
        <app-button text="Add" (click)="onAddFriend()"></app-button>
      </app-dialog>


      <div>
        <div class="cards">
          <ul>

            <li *ngFor="let item of content.friends; let i = index">
              <app-friend-card [name]="item.username" [dateStartFriendship]="item.dateStartFriendship"
                [image]="item.image">
              </app-friend-card>
            </li>

          </ul>
        </div>
      </div>
      <div class="pagination">
        <button class="pagination__arrow" (click)="previousPage()"><i class="fas fa-arrow-left"></i>
          <span>Previous</span></button>
        @for (item of pages; track $index) {
        @if (item === currentPage) {
        <button class="pagination__number pagination_selected">{{ item }}</button>
        }@else {
        <button class="pagination__number" (click)="goToPage(item)">{{ item }}</button>
        }
        }
        <button class=" pagination__arrow" (click)="nextPage()"><span>Next</span> <i class="fas fa-arrow-right">
          </i></button>
      </div>
    </content>
  </div>
</main>