.footer {
  background-color: #d9d9d9;
  color: black;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9em;
  margin-top: auto; /* Pushes the footer to the bottom of the content container */
  font-size: 0.9em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 5px 0;
}

.language {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 1.3rem;
  right: 3rem;

  span {
    margin-bottom: 0.2rem;
  }
}
