/* Ensure that the main container takes up at least the full viewport height */
.main-container {
    display: flex;
    flex-direction: row; /* Keep the main container as a row */
    min-height: 100vh; /* 100% of the viewport height */
  }
  
  .search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem; /* Espaçamento interno em relação às bordas da tela */
    margin-top: 3rem;
  }
  
  .search {
    display: flex;
    width: 25rem;
    height: 2.125rem; 
    border-radius: 0.3125rem; 
    overflow: hidden;
    border: 1px solid #D9D9D9;
  }
  
  .search input[type="text"] {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.3125rem 0 0 0.3125rem;
  }
  
  .search input[type="text"]:focus {
    outline: none;
  }
  
  .search-button {
    width: 3.125rem; 
    height: 100%;
    background-color: #D9D9D9; 
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0 0.3125rem 0.3125rem 0; 
  }
  
  .search-button i {
    font-size: 1.5rem; /* Ajuste o tamanho do ícone */
  }
  
  .search-button:focus {
    outline: none;
  }
  
  .add-friend-button {
    width: 10rem; 
    height:2.5rem;   
    margin-left: auto;
    border-radius: 0.3125rem; 
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1rem;
    opacity: 1;
    gap: 0; 
  }
  
  
  
  /* Content container should fill the remaining height and allow the footer to be at the bottom */
  .content-container {
    display: flex;
    flex-direction: column;
    flex: 1; /* This allows the content to take up all the available space in the column */
  }
  
  
  
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    margin: 0 10px;
  }
  
  .pagination button:disabled {
    color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination-numbers {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .pagination-numbers li {
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .pagination-numbers li.active {
    font-weight: bold;
    color: #000;
  }
  
  /* Footer styling */
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9em;
    margin-top: auto; /* Pushes the footer to the bottom of the content container */
  }
  