<div id="about" class="about-section">
  <div class="about-text">
    <span class="title">Sobre nós</span>
    <p class="content">
      A Eventify é uma inovadora plataforma de software para planejamento de eventos, localizada em Santa Rita do
      Sapucaí, MG, Brasil. Nossa missão é simplificar e otimizar a organização de eventos para profissionais e empresas
      de todos os tamanhos.
    </p>
    <p class="content">
      Com uma interface intuitiva e ferramentas poderosas, a Eventify ajuda você a transformar suas ideias em
      experiências memoráveis, garantindo eficiência e sucesso em cada etapa do seu evento.
    </p>
  </div>
  <div class="about-image">
    <img src="../../../../assets/img/airplane.jpg" alt="Imagem de um avião">
  </div>
</div>