<div class="container d-flex justify-content-center p-4" style="background-color: #F5F5DC;">
    <div class="col-md-9">
        <div class="form-group">
            <h2 class="text-center">Create event</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="eventName">Event name:</label>
                        <input type="text" id="eventName" ng-model="event.name" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="eventDescription">Description:</label>
                        <textarea id="eventDescription" ng-model="event.description" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="startDate">Start date:</label>
                        <input type="date" id="startDate" ng-model="event.startDate" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="endDate">End date:</label>
                        <input type="date" id="endDate" ng-model="event.endDate" required class="form-control">
                    </div>

                    <hr>

                    <div class="form-group">
                        <label for="locationName">Local name:</label>
                        <input type="text" id="locationName" ng-model="event.locationName" required
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="zipCode">CEP:</label>
                        <input type="text" id="zipCode" ng-model="event.zipCode" required class="form-control">
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="state">State:</label>
                                <input type="text" id="state" ng-model="event.state" required class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="city">City:</label>
                                <input type="text" id="city" ng-model="event.city" required class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="street">Street/Avenue:</label>
                                <input type="text" id="street" ng-model="event.street" required class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="number">Number:</label>
                                <input type="text" id="number" ng-model="event.number" required class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="district">Neighborhood:</label>
                        <input type="text" id="district" ng-model="event.district" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="complement">Complement:</label>
                        <input type="text" id="complement" ng-model="event.complement" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="eventImage">Add photo:</label>
                        <input type="file" file-model="event.image" id="eventImage">
                        <label for="complement">Add pix key:</label>
                        <input type="text" id="complement" ng-model="event.complement" class="form-control">
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <!-- Botão de Cancelar -->
                <button type="button" class="btn btn-secondary mr-2" [routerLink]="
                    ['/events/my-events']">Cancel</button>
                <!-- Botão de Criar Evento -->
                <button type="submit" ng-click="submitForm()" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>