<div class="container-fluid">
    <div class="row">
        <div class="col-3 background-for-logo">
            <img class="mb-4 img-logo" src="assets/img/Logo-background-none.svg" alt="">
        </div>
        <div class="col-9 background-for-credentials p-4 text-center">
            <form class="form mat-elevation-z4">
                <h1>Reset Password</h1>
                <div class="row g-3 align-items-center p-4">
                    <div class="row">
                        <p>Enter the e-mail address associated with your account and we'll send you a link to reset your password.</p>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label for="FormControlInput3" class="form-label">E-mail</label>
                            <input type="email" class="form-control" id="FormControlInput3"
                                placeholder="name@example.com" required="" formControlName="email">
                        </div>
                    </div>
                </div>
                <div class="col-12 div-button">
                    <a [routerLink]="['/account/sign-in']"> <button type="button" class="btn credentials-btn-color">
                        Back
                    </button></a>
                    <button type="button" class="btn credentials-btn-color">
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>