.background-for-credentials{
    background-color: #F5F5DC;
    height: 100vh;
}

.background-for-logo{
    background-color: #68C7C1;
    height: 100vh;
}

.img-logo {
    max-width: 20rem;
    margin-top: 50%;
    margin-left: 20px;
}

.credentials-btn-color{
    background-color: #68C7C1;
    width: 20%;
    margin-left: 200px;
}

.input-area{
    width: 100%;
}

.div-picture{
    display: flex;
}

.input-area{
    width: 400px;
}