<div class="container">
  <header>
    <a routerLink="/"><img src="/assets/svg/logo-max.svg" alt="logo expanded" /></a>
    <div class="user-profile">
      <span class="custom-span">User name</span>
      <a routerLink="/my-profile">
        <img src="/assets/svg/avatar.svg" alt="Avatar" class="user-avatar" /></a>
    </div>
  </header>

  <app-event-layout class="sidebar"></app-event-layout>

  <main class="main-container">
    <div class="content-container">
      <content>
        <router-outlet />
        <footer class="footer">
          <app-footer></app-footer>
        </footer>
      </content>
    </div>
  </main>

</div>