<main class="main-container">
  <div class="content-container">
    <content>
      <app-header [ComponentName]="'Invites > Event'"
        textTooltip="This is your notifications screen where you can view your event invitations and friend requests, and accept or decline them."
        tooltipPosition="right"></app-header>
      <div>
        <div class="cards">
          <ul>
            <li *ngFor="let invite of eventInvite.invite; let i = index">
              <app-notification-card [title]="invite.title" [dateNotification]="invite.sendedAt">
              </app-notification-card>
            </li>

          </ul>
        </div>
      </div>

      <div class="pagination">
        <button class="pagination__arrow" (click)="previousPage()"><i class="fas fa-arrow-left"></i>
          <span>Previous</span></button>
        @for (item of pages; track $index) {
        @if (item === currentPage) {
        <button class="pagination__number pagination_selected">{{ item }}</button>
        }@else {
        <button class="pagination__number" (click)="goToPage(item)">{{ item }}</button>
        }
        }
        <button class=" pagination__arrow" (click)="nextPage()"><span>Next</span> <i class="fas fa-arrow-right">
          </i></button>
      </div>


    </content>
  </div>
</main>