<header class="header-container">
  <div class="content">
    <div>
      <span class="custom-span">{{ ComponentName }}</span>

      <app-tooltip tooltipText="{{textTooltip}}" [position]="tooltipPosition">
        <span class=" custom-span"><i class="fal fa-info-circle"></i></span>
      </app-tooltip>




    </div>

    <div class="user-profile">
      <span class="custom-span">User name</span>
      <div class="dropdown">
        <button (click)="toggleDropdown()" (mouseover)="toggleDropdown()" class=" dropdown-button"
          style="background: unset; border: none; cursor: pointer;">
          <img src="/assets/svg/avatar.svg" alt="Avatar" class="user-avatar" />
        </button>

        <ul *ngIf="isOpen" class="dropdown-menu">
          <li>
            <a routerLink="/my-profile"><i class="fas fa-user-alt"></i><span>Edit data</span></a>
          </li>
          <li>
            <a routerLink="/my-profile" (click)="logout()"><i class="fal fa-sign-out-alt"></i><span>Exit</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>