.expenses-container {
    padding: 2rem;
  }
  
  /* Flex container for the first two cards */
  .expenses-cards {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 2rem; /* Space between the two sets of cards */
  }
  
  /* Shared card styles */
  .expenses-card {
    min-width: 45%;
    border: 0.1rem solid #00000033;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  }
  
  /* Title of each card */
  .card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .title-text {
    font-size: 1.2rem;
    color: #939598;
  }
  
  .expenses-image {
    width: 30%;
    padding: 1rem;
    
  }
  
  .expenses-text {
    padding: 1rem;
    font-size: 1rem;
    color: #49454f;
  }
  
  /* Card for the table */
  .expenses-table-card {
    border: 0.1rem solid #00000033;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }
  
  /* Table styles */
  .expenses-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  .expenses-table th,
  .expenses-table td {
    padding: 0.75rem;
    border: 0.1rem solid #ddd;
    text-align: left;
  }
  
  .expenses-table thead th {
    background-color: #f5f5f5;
  }
  
  .expenses-table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  .expenses-table tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .pagination button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    margin: 0 10px;
  }

  .pagination button:disabled {
    color: #ccc;
    cursor: not-allowed;
  }

  .pagination-numbers {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .pagination-numbers li {
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .pagination-numbers li.active {
    font-weight: bold;
    color: #000;
  }
