<div class="expenses-container">
  <div class="expenses-cards">
    <div class="card expenses-card">
      <div class="card-title">
        <span class="title-text">Current Expenses</span>
        <i class="fas fa-dollar-sign" style="font-size: 2rem; color: #14ad47"></i>
      </div>
      <div class="card-content">
        <span style="font-size: 2rem; color: black; padding: 1rem">R$ {{ totalExpenses.totalExpanses }}</span>
      </div>
    </div>
    <div class="card expenses-card">
      <div class="expense-key">
        <img src="/assets/svg/pix.svg" alt="pix-image" class="expenses-image" />
        <span>{{paymentApproach.pixKeY}}</span>
      </div>
      <p class="expenses-text">
        The payment key will only be available at the end of the event.
      </p>
    </div>
  </div>

  <div class="card expenses-table-card">
    <div class="card-title">
      <span class="title-text">Expense Records</span>
      <button class="add-expense-button" style="background-color: #14ad47" (click)="toggleAddExpenseDialog()">Add a new
        expense</button>
      <app-dialog *ngIf="isAddExpenseDialogOpen" (close)="toggleAddExpenseDialog()" dialog_title="Add Expense">
        <div class="form-group"> <app-primary-input type="text" placeholder="Insert a description"
            [(ngModel)]="description" /></div>
        <div class="form-group"><app-primary-input type="number" placeholder="Insert a value"
            [(ngModel)]="expenseValue" />
        </div>
        <div class="form-group"> <app-primary-input type="date" placeholder="" [(ngModel)]="expenseDate" /></div>
        <app-button text="Add" (click)="onCreateExpense()"></app-button>

      </app-dialog>
    </div>
    <div class="card-content">
      <table class="expenses-table">
        <thead>
          <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let expense of eventExpanses.expanses">

            <td>{{ expense.description }}</td>
            <td>{{ expense.amount | currency : "USD" }}</td>
            <td>{{ expense.date }}</td>
            <td>
              <ul class="manage-event" style="display: flex;">
                <li> <i class="fa-regular fa-trash-can" style="color: red; " (click)="openDialog()"></i>
                  <div *ngIf="showDialog">
                    <app-confirmation-dialog [message]="'Are you sure you want to proceed?'"
                      (onConfirm)="handleConfirm(expense.id!)" (onCancel)="handleCancel()">
                    </app-confirmation-dialog>
                  </div>

                <li> <i class="fa-solid fa-pencil" style="color: grey;" (click)="toggleEditExpenseDialog()"></i>
                  <app-dialog *ngIf="isEditExpenseDialogOpen" (close)="toggleEditExpenseDialog()"
                    dialog_title="Edit Expense">
                    <app-primary-input type="text" placeholder="Insert a description" />
                    <app-primary-input type="number" placeholder="Insert a value" />
                    <app-primary-input type="date" placeholder="" />
                  </app-dialog>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <button class="pagination__arrow" (click)="previousPage()"><i class="fas fa-arrow-left"></i>
          <span>Previous</span></button>
        @for (item of pages; track $index) {
        @if (item === currentPage) {
        <button class="pagination__number pagination_selected">{{ item }}</button>
        }@else {
        <button class="pagination__number" (click)="goToPage(item)">{{ item }}</button>
        }
        }
        <button class=" pagination__arrow" (click)="nextPage()"><span>Next</span> <i class="fas fa-arrow-right">
          </i></button>
      </div>
    </div>
  </div>
</div>