.root {
    background-color: #F5F5DC;
    /* height: 100vh; */
}

.sidenav-title-div{
    /* height: 15vh; */
}

.sidenav-title-div > p{
    font-size: 30px; 
    margin: 36px 20px;
}

.anchor-container {
    position: relative !important;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 70vh;
}

.first-anchor{
    margin-top: 20px;
}

.anchor-img{
    margin-right: 10px;
}

a {
    text-decoration: none;
}

.sidenav {
    background-color: #F5F5DC;
}

.bottom-buttons{
    display: flex;
    flex-direction: column;
    position: absolute !important;
    bottom: 0 !important;
}