<div class="card-container">
  <div class="card">
    <img class="card-image" src="{{ image }}" alt="imageEvent" />

    <div class="card-content">
      <h3>{{ title }}</h3>
      <p class="description">{{ description }}</p>
      <p class="date">Date: {{ dateNotification }}</p>
    </div>

    <div class="card-actions">

      <i class="fa-regular fa-circle-check accept-icon" (click)="onAccept()"></i>

      <i class="fa-regular fa-circle-xmark decline-icon" (click)="onDecline()"></i>
    </div>
  </div>
</div>