.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 80%;
}

.row {
  margin-bottom: 1rem;
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.name-input {
  width: 80%;
}

.file-upload-label {
  i {
    cursor: pointer;
    font-size: 3rem;
    color: #333;
  }
}

.file-upload-input {
  display: none;
}

.password-strength {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.strength-bar {
  width: 100%;
  height: 0.25rem;
  background-color: #ddd;
  transition: background-color 0.3s;
}

.weak {
  background-color: red;
}

.medium {
  background-color: yellow;
}

.strong {
  background-color: green;
}

.error-message {
  color: red;
  font-size: 0.75rem;
}

.button {
  display: flex;
  justify-content: center;
}
