body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.navbar {
  background-color: white;
  color: black;
  padding: 1.45rem;
  border-bottom:#14AD47 solid 1px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin: 0 1rem;
}

.navbar-menu a {
  color: #14AD47;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

.navbar-menu a:hover {
  background-color: #14AD47;
  color: white;
  border-radius: 5px;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

