.background-for-credentials{
    background-color: #F5F5DC;
    height: 100vh;
}

.background-for-logo{
    background-color: #68C7C1;
    height: 100vh;
}

.img-logo {
    max-width: 50rem;
}

.credentials-btn-color{
    background-color: #68C7C1;
    --bs-btn-padding-y: .50rem; 
    --bs-btn-padding-x: .15rem; 
    --bs-btn-font-size: .900rem;
}

.input-area{
    width: 100%;
}
