<div class="container">
  <div class="info-cards">
    <div class="card">
      <div class="card-title">
        <span class="title-text">Organization</span>
        <i class="fas fa-th-large"></i>
      </div>
      <div class="card-content">
        <div class="info-line">
          <span class="label">Created on: </span>
          <span class="value">{{ organizationData.createdOn }}</span>
        </div>
        <div class="info-line">
          <span class="label">Created by: </span>
          <span class="value">{{ organizationData.createdBy }}</span>

        </div>
        <div class="info-line">
          <span class="label">Number of participants: </span>
          <span class="value">{{ organizationData.numberOfParticipants }}</span>
        </div>
        <div class="info-line">
          <span class="label">Status: </span>
          <span class="value">{{ organizationData.status }}</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <span class="title-text">Current expense</span>
        <i class="fas fa-dollar-sign"></i>
      </div>
      <div class="card-content centered-content">
        <span class="value large-text">R${{ totalExpenses.totalExpanses }}</span>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <span class="title-text">Dates</span>
        <i class="fas fa-calendar-alt"></i>
      </div>
      <div class="card-content">
        <div class="info-line">
          <span class="label">Start:</span>
          <span class="value">{{ eventDate.startDate }}</span>
        </div>
        <div class="info-line">
          <span class="label">End:</span>
          <span class="value">{{ eventDate.endDate }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div *ngIf="showDialog">
      <app-confirmation-dialog [message]="'Are you sure you want to proceed?'"
        (onConfirm)="handleConfirm(organizationData.id)" (onCancel)="handleCancel()">
      </app-confirmation-dialog>
    </div>
    <div class="content-container">
      <div class="content-title">
        <span class="title-text">Location</span>
        <div class="buttons">
          <button class="add-expense-button" id="edit-info-btn" style="background-color: #14ad47" routerLink="{{route}}">Edit info</button>
          <button class="add-expense-button" style="background-color: #ad1914" (click)="openDialog()">Delete
            event</button>

        </div>



      </div>
      <form>
        <div class="form-row">
          <div class="form-group">
            <label for="locationName">Location Name</label>
            <input type="text" id="locationName" name="locationName" class="form-control"
              [value]="eventLocation.locationName" readonly />
          </div>
          <div class="form-group">
            <label for="zipCode">ZIP Code</label>
            <input type="text" id="zipCode" name="zipCode" class="form-control" [value]="eventLocation.zipCode"
              readonly />
          </div>
          <div class="form-group">
            <label for="state">State</label>
            <input type="text" id="state" name="state" class="form-control" [value]="eventLocation.country" readonly />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" id="city" name="city" class="form-control" [value]="eventLocation.city" readonly />
          </div>
          <div class="form-group">
            <label for="neighborhood">Neighborhood</label>
            <input type="text" id="neighborhood" name="neighborhood" class="form-control"
              [value]="eventLocation.neighborhood" readonly />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="street">Street/Avenue</label>
            <input type="text" id="street" name="street" class="form-control" [value]="eventLocation.street" readonly />
          </div>
          <div class="form-group">
            <label for="number">Number</label>
            <input type="text" id="number" name="number" class="form-control" [value]="eventLocation.number" readonly />
          </div>
          <div class="form-group">
            <label for="complement">Complement</label>
            <input type="text" id="complement" name="complement" class="form-control" [value]="eventLocation.complement"
              readonly />
          </div>
        </div>
      </form>

      <div class="map">
        <app-map width="800" height="500" [coordinates]="eventLocation.coordinates" [popUpInfo]="popUpInfo"></app-map>
      </div>
    </div>
  </div>


</div>