.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .recover-password-form {
    padding: 1rem;
    width: 100%;
    max-width: 40rem; /* Ajuste conforme necessário */
  }
  
  .form-row {
    display: flex;
    margin-bottom: 1rem;
    align-items: center; /* Alinha os itens verticalmente */
  }
  
  .email {
    justify-content: center;
  }
  
  .email .form-item {
    width: 100%; /* Largura total do campo de email */
  }
  
  .button {
    display: flex;
    justify-content: center;
  }
  
  .primary-button {
    width: 100%; /* Ajuste o botão para ocupar a largura total */
  }
  