<footer class="footer">
  <div class="footer-content">
    <div class="info">
      <h4>Sobre o Projeto Eventify</h4>
      <p>O Eventify é um software desenvolvido por uma equipe dedicada, com o objetivo de facilitar o planejamento de
        eventos e proporcionar uma experiência simplificada e eficiente.</p>
    </div>
    <div class="team">
      <h4>Equipe</h4>
      <ul>
        <li>
          <img src="../../../../assets/img/Alan.jpeg" alt="Leandro Leite" class="profile-pic">
          <div class="details">
            <strong>Alan Silva</strong> - Desenvolvedor Back End
            <br>
            <a href="https://www.linkedin.com/in/alan-francisco-silva-a64342149/" target="_blank">LinkedIn</a> |
            <a href="https://github.com/alanfranciscos" target="_blank">GitHub</a>
          </div>
        </li>
        <li>
          <img src="../../../../assets/img/Carlos.jpeg" alt="Carlos Eduardo" class="profile-pic">
          <div class="details">
            <strong>Carlos Eduardo</strong> - Desenvolvedor Fullstack
            <br>
            <a href="https://www.linkedin.com/in/carlos-almeida-135643197/" target="_blank">LinkedIn</a> |
            <a href="https://github.com/CarlosEduard0o" target="_blank">GitHub</a>
          </div>
        </li>
        <li>
          <img src="../../../../assets/img/Leandro.jpeg" alt="Leandro Leite" class="profile-pic">
          <div class="details">
            <strong>Leandro Leite</strong> - Desenvolvedor Front End
            <br>
            <a href="https://www.linkedin.com/in/leandro-leite-760931186/" target="_blank">LinkedIn</a> |
            <a href="https://github.com/LeandroASLeite" target="_blank">GitHub</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Eventify. Todos os direitos reservados.</p>
  </div>
</footer>