<footer class="footer">
  <div class="footer-content">
    <div class="info">
      <h4>Sobre o Projeto Eventify</h4>
      <p>O Eventify é um software desenvolvido por uma equipe dedicada, com o objetivo de facilitar o planejamento de
        eventos e proporcionar uma experiência simplificada e eficiente.</p>
    </div>
    <div class="team">
      <h4>Equipe</h4>
      <ul>
        <li>
          <img src="../../../../assets/svg/avatar.svg" alt="Leandro Leite" class="profile-pic">
          <div class="details">
            <strong>Alan Silva</strong> - Desenvolvedor Back End
            <br>
            <a href="https://linkedin.com/in/leandro-leite" target="_blank">LinkedIn</a> |
            <a href="https://github.com/leandro-leite" target="_blank">GitHub</a>
          </div>
        </li>
        <li>
          <img src="../../../../assets/svg/avatar.svg" alt="Participante 2" class="profile-pic">
          <div class="details">
            <strong>Carlos Eduardo</strong> - Desenvolvedor Fullstack
            <br>
            <a href="https://linkedin.com/in/participante2" target="_blank">LinkedIn</a> |
            <a href="https://github.com/participante2" target="_blank">GitHub</a>
          </div>
        </li>
        <li>
          <img src="../../../../assets/svg/avatar.svg" alt="Participante 3" class="profile-pic">
          <div class="details">
            <strong>Leandro Leite</strong> - Desenvolvedor Front End
            <br>
            <a href="https://linkedin.com/in/participante3" target="_blank">LinkedIn</a> |
            <a href="https://github.com/participante3" target="_blank">GitHub</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Eventify. Todos os direitos reservados.</p>
  </div>
</footer>