<main class="main-container">
  <div class="content-container">
    <content>
      <app-header [ComponentName]="'Invites > Friends'"
        textTooltip="This is your notifications screen where you can view your event invitations and friend requests, and accept or decline them."
        tooltipPosition="right"></app-header>
      <div>
        @if(friendRequest.invite === undefined || friendRequest.invite.length === 0 || isLoading) {
        <div style="width: 100%; height: 30rem;">
          <app-status-request [isLoading]="isLoading" [isEmpty]="friendRequest.invite.length == 0"></app-status-request>
        </div>
        } @else {
        <div class="cards">
          <ul>
            <li *ngFor="let request of friendRequest.invite; let i = index">
              <app-notification-card [title]="request.title" [dateNotification]="request.sendedAt"
                (accept)="acceptFriendRequest(request.id)" (decline)="openDialog(request.id)">
              </app-notification-card>
            </li>
            <div *ngIf="showDialog">
              <app-confirmation-dialog [message]="'Are you sure you want to proceed?'"
                (onConfirm)="declineFriendRequest()" (onCancel)="handleCancel()">
              </app-confirmation-dialog>
            </div>
          </ul>
        </div>}
      </div>
      <div class="pagination">
        <button class="pagination__arrow" (click)="previousPage()"><i class="fas fa-arrow-left"></i>
          <span>Previous</span></button>
        @for (item of pages; track $index) {
        @if (item === currentPage) {
        <button class="pagination__number pagination_selected">{{ item }}</button>
        }@else {
        <button class="pagination__number" (click)="goToPage(item)">{{ item }}</button>
        }
        }
        <button class=" pagination__arrow" (click)="nextPage()"><span>Next</span> <i class="fas fa-arrow-right">
          </i></button>
      </div>
    </content>
  </div>
</main>