/* Ensure that the main container takes up at least the full viewport height */
.main-container {
  display: flex;
  flex-direction: row;
}

/* Content container should fill the remaining height and allow the footer to be at the bottom */
.content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pagination__arrow {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: unset;

  span {
    margin: 0.5rem;
  }
}

.pagination__number {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: unset;
  margin: 0 0.5rem;
}

.pagination_selected {
  width: 2rem;
  height: 2rem;
  border-radius: 0.625rem;
  background: #14ad47;
}

@media screen and (min-width: 1910px) {
  .cards-container {
    margin-top: 6rem;
  }
}
