<app-authentication-layout title="Recover Password">
  <div class="content">
    <form class="recover-password-form">
      <div class="form-row email">
        <div class="form-item">
          <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="yourmail@domain.com"
          >
          </app-primary-input>
        </div>
      </div>

      <div
        class="form-row button"
        style="display: flex; flex-direction: column"
      >
        <div class="form-item">
          <app-button
            class="primary-button"
            text="Send Reset Link"
            type="submit"
          >
          </app-button>
        </div>
        <span><a routerLink="/account/login">back to login</a></span>
      </div>
    </form>
  </div>
</app-authentication-layout>
